.Footer {
  background-color: #1b1b1b;
  color: white;
  /* position: absolute !important;
  bottom: 0;
  width: 100%; */
}
/* .Div {
  position: relative;
  border-collapse: collapse;
  height: 28vw;
} */
